    {% extends 'mainmenu/base.html' %}

    {% block title %}Все о играх{% endblock %}

    {% block navlist %}
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                    <a class="nav-link" href="/">Главная</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                    <a class="nav-link active" aria-current="page" href="/about_games">Все о Играх</a>
                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">История</a>
                    <a class="dropdown-item" href="about_games/PC">PC</a>
                    <a class="dropdown-item" href="about_games/PlayStation">PlayStation</a>
                    <a class="dropdown-item" href="about_games/Android">Android</a>
                    <a class="dropdown-item" href="about_games/IOS">IOS</a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <a class="nav-link" href="/about_programming">Все о Програмировании</a>
                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">История</a>
                    <a class="dropdown-item" href="#">Pyhton</a>
                    <a class="dropdown-item" href="#">C / C++ / C#</a>
                    <a class="dropdown-item" href="#">Unity</a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <a class="nav-link" href="/my_work">Мои наработки</a>
                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Pyhton</a>
                    <a class="dropdown-item" href="#">C / C++ / C#</a>
                    <a class="dropdown-item" href="#">Unity</a>
                </div>
            </div>
        </div>
    </li>

    {% endblock %}

    {% block navmenu_2 %}
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-info">
                    <a class="nav-link active" href="/about_games">Shooter</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Race</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Zombie</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Action</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Stealth</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">RPG</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Horror</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Fighting</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Arcade</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Sport</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Strategy</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Survival</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Simulators</a>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success">
                    <a class="nav-link active" href="/about_games">Adventure</a>
                </button>
            </div>
        </div>
    </li>
    {% endblock %}

    {% block content %}

    <main>
        <h1>Все о играх</h1>
        <p>Просто Текст</p>

    </main>
    {% endblock %}