{% extends 'mainmenu/base.html' %}

{% block title %}Главная Страница{% endblock %}

{% block css_additor %}
{% endblock %}

{% block navMain %}
    <a class="nav-link active" href="/">Главная</a>
{% endblock %}

{% block navGames %}
<a class="nav-link" aria-current="page" href="/about_games">Все о Играх</a>
{% endblock %}

{% block navProgramming %}
<a class="nav-link" href="/about_programming">Все о Програмировании</a>
{% endblock %}

{% block navMyWork %}
<a class="nav-link" href="/my_work">Мои наработки</a>
{% endblock %}

{% block content %}
<main>
    <div>
        <h1 class="display-1 text-center">Добро пожаловать</h1>
        <div class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-10 foncont">
                        <p>
                            Устали ходить по различным сайтам. Перебрали много ссылок. И в конечном итоге так и не нашли то, что искали?<br>
                            Вся доступная информация только тут:<br>
                        </p>
                        <ol>
                            <li>Если вы ищете информацию об играх. Их история, видео с прохождением.</li>
                            <li>Если вы ищете информацию о языках программирования. Их история. Некоторые примеры и справочник(шпаргалка) по коду.</li>
                        </ol>
                        <p>Если интересны еще новинки. То вам обязательно сюда</p>
                        <hr>
                        <h3>Самые ожидаемые игры на 2023г. ТОП 10</h3>
                        <h4>1. Hogwarts Legacy</h4>
                        <img src="https://cdn.igromania.ru/mnt/news/6/0/1/f/a/f/118435/html/more/a74db6c57f9725d58a080df8_848xH.jpg"
                             class="img-fluid" alt="Hogwarts Legacy"><br><br>
<p> <b>Сюжет:</b> Действие игры Hogwarts Legacy будет происходить в конце 1800-х годов и повествует о студентах Хогвартса. Игроку будет позволено
    выбрать свой факультет в Хогвартсе и посещать занятия в школе чародейства и волшебства, а также исследовать открытый мир, состоящий из локаций,
    таких как Запретный лес и деревня Хогсмид. В игре персонаж научится творить различные магические заклинания, варить зелья, приручать магических
    зверей и овладеет другими боевыми способностями. Немаловажную роль в игре будет играть система морали. Игроки также смогут настроить голос своего
    персонажа, тип телосложения и то, является ли он ведьмой или волшебником.<br><br>

     <b>Игровой процесс:</b> Hogwarts Legacy — однопользовательская ролевая игра с открытым миром и несколькими вариантами сложности и доступности.
    В школе чародейства и волшебства Хогвартса можно будет посещать занятия, такие как заклинания, защита от темных искусств, травология и зельеварение.
    Места из франшизы о «Гарри Поттере» включают в себя Запретный лес, Волшебный банк «Гринготтс» и деревню Хогсмид, которые будут доступны для исследования,
    как и другие области, которые ещё не появлялись в других произведениях, такие как общая комната Хаффлпафф. По мере прохождения игры эти локации будут
    визуально меняться в зависимости от времени года в игре.<br>

    При создании игрового персонажа игрок может выбрать его внешний вид, дом и пол. Игроки смогут настраивать голос своего персонажа, тип телосложения
    и тип палочки. Повышение уровня даст игроку доступ к талантам, улучшениям и навыкам. В игре также будут элементы настройки окружающей среды, где
    игроки смогут изменять Выручай-комнату по мере повышения уровня в игре.<br>

    Персонаж игрока научится произносить различные магические заклинания, варить зелья и осваивать боевые способности. По мере прохождения игроки смогут
    разработать свой особый боевой стиль. В бою предметы, купленные или созданные, могут быть использованы для нанесения вреда врагам или создания
    препятствий или усиления персонажа игрока. Будут присутствовать приручение, уход и верховая езда на волшебных зверях. Как существа, с которыми можно
    взаимодействовать, в видео игрового процесса показаны драконы, тролли, гиппогрифы и нюхлеры. Некоторых существ можно использовать в бою, например,
    мандрагору для оглушения врагов.<br>

    Система морали играет определённую роль в игре. Система морали будет учитывать способность игроков изучать определённые заклинания, такие как
    «Убивающее заклятие» (Авада Кедавра). Персонажи игроков смогут установить дружеские отношения с неиграбельными персонажами, с которыми можно
    взаимодействовать. По мере того, как игроки будут развивать эти отношения, эти одноклассники станут партнёрами, которые могут сопровождать игроков
    в их путешествии, расширять их способности и предлагать уникальные варианты диалога по мере того, как игроки изучают свои истории.
                        </p> <!-- Описание игры Hogwarts Legacy-->

                        <h4>2. GTA VI</h4>
                        <img src="https://www.ferra.ru/thumb/1200x0/filters:quality(75):no_upscale()/imgs/2022/01/05/17/5151672/e3657c7f2777cdd3588979649b8ae61bf7dac7bf.jpeg"
                             class="img-fluid" alt="GTA VI"><br><br>
<p><b>Разработка игры</b><br>
    <b>Первая информация</b><br>
    13 декабря 2012 года ныне бывший директор студии Rockstar North Лесли Бензис в интервью сайту Digital Trends сообщил, что в следующей
    (после GTA V и Online) игре серии Grand Theft Auto действия могли бы проходить сразу в нескольких городах. В сентябре 2013 года вице-президент
    Rockstar Games Дэн Хаузер в интервью газете The Guardian, рассказывая о трёх протагонистах-мужчинах «Grand Theft Auto V» заявил,что создатели
    серии планируют в будущем придумать и женского персонажа-протагонистку для предстоящего продолжения.<br>

    3 октября 2013 года Бензис, уже рассуждая о будущей GTA VI, поведал изданию Develop о том, что у его компании много планов по разработке этого
    продолжения серии:<br>

    Left pointing double angle quotation mark.svg	У нас настолько много идей для продолжения серии, что их хватит на 45 лет работы. Мы ещё не знаем,
    какой будет Grand Theft Auto VI, но кое-какие мысли на этот счёт у нас есть… Right pointing double angle quotation mark.svg</br>

    24 марта 2016 года появилась неофициальная информация от британского интернет-издания TechRadar о том, что разработка Grand Theft Auto VI
    уже началась. Игра будет использовать новый игровой движок (возможно, имелась в виду новая версия RAGE), а её выход произойдёт не
    раньше 2018—2019 годов. Сообщалось также, что ранее Rockstar Games имела планы использовать город Токио для одной из будущих игр серии.
    Совершив несколько поездок туда, разработчики, однако, пришли к выводу, что игра о криминальном мире Японии им не подходит, а ряд местных
    культурных особенностей (в частности, левостороннее движение на дорогах) стали бы непривычны для большинства игроков и могли бы усложнить разработку.<br>

    Согласно предположениям британского таблоида The Sun и некоторых других изданий, действие игры может происходить в Лондоне.</br>

    После выхода Red Dead Redemption 2 Дэн Хаузер сообщил, что они не собираются выпускать GTA VI в эпоху президентства Дональда Трампа.<br>

    4 февраля 2022 года Rockstar Games официально подтвердила, что следующая часть серии Grand Theft Auto находится в разработке. При этом 7 июля
    этого же года разработчик сообщил, что из-за средств и затрат на разработку новой игры и развитие GTA Online другой проект компании, Red Dead Online,
    больше не будет получать крупных обновлений. Согласно словам известного и близкого к игровым разработчикам журналиста Джейсна Шрайера, в GTA VI
    не должно быть несколько протагонистов, как это было в GTA V.<br>

    Позже Джейсон Шрайер сообщил некоторые подробности о следующей игре серии. Согласно его новым данным, разработка игры ведётся медленно,
    но среди разработчиков имеется высокий моральный дух. Сам проект носит кодовое название Project Americas, что совпадает с некоторыми предыдущими сливами.
    Карта даже на данный момент огромна, и она основана на Вайс-Сити и его окрестностях, а протагонистов в игре планируется два.
    Одна из них — женщина-латиноамериканка. Её история и взаимоотношения со вторым главным героем во многом вдохновлены Бонни и Клайдом.
    Со временем игра будет обновляться, и в неё могут добавляться даже новые города.
</p> <!-- Описание игры GTA VI-->

                        <h4>3. Final Fantasy XVI</h4>
                        <img src="https://psverso.com.br/wp-content/uploads/2020/10/final-fantasy-xvi-personagens-reinos-768x357.jpg"
                             class="img-fluid" alt="Final Fantasy XVI"><br><br>
<p><b>Об игре Final Fantasy XVI</b><br>

    Final Fantasy XVI — продолжение популярного ролевого боевика с видом от третьего лица в серии Final Fantasy. Новая глава продолжает тенденцию
    к действиям в реальном времени, вместо классических пошаговых боев. Действие игры развернется в мире Валистея, который разделен на шесть королевств,
    существованию которых угрожает Чума. Главным героем выступает молодой рыцарь Клайв Росфилд, который защищает своего брата Джошуа.<br>

    <b>Даты выхода Final Fantasy XVI</b><br>

    Final Fantasy XVI сейчас находится в разработке для PC, PlayStation 5. Создайте напоминание в одном из доступных календарей ниже, чтобы не забыть про релиз.<br>

    Даты выхода Final Fantasy XVI во всем мире:<br>

</p>
<ul>
    <li>PC → игра в разработке, выйдет лето 2023
    <li>PlayStation 5 → игра в разработке, выйдет лето 2023
</ul>
<p>Расшифровка статусов в датах выхода</p>
<ul>
    <li><b>Игра в разработке</b> — означает, что Final Fantasy XVI официально анонсирована и ведется ее разработка для указанных платформ.
        В этом случае указывается точная или приблизительная дата выхода.
    <li><b>Игра вышла</b> — означает, что Final Fantasy XVI вышла (состоялся релиз), ее можно купить или скачать на указанных платформах.
    <li><b>Официально не анонсирована</b> — игра еще официально не анонсирована, но вероятность этого велика. Указывается дата возможного релиза
    и вероятные платформы.
    <li><b>Ранний доступ</b> — игра вышла в раннем доступе (early access). Это значит, что разработчики выпустили незавершенную, но играбельную
    версию игры, доступную всем желающим. Обычно такие версии доступны по сниженной цене или вообще бесплатно, а на релизе игра стоит дороже.
    Однако будьте готовы столкнуться с багами, ведь разработка еще ведется.
    <li><b>Бета-тестирование</b> — игру тестируют, она доступна всем, либо ограниченному числу людей. Тестирования бывают закрытыми или открытыми.
    Попадая на бета-тест, игроки могут опробовать проект незадолго до его выхода.
    <li><b>Заморожена</b> — разработка игры велась до какого-то времени, но теперь заморожена. Возможно, когда-нибудь разработчики вернутся
    и доделают игру, но чаще всего проект просто закрывают.
    <li><b>Игра отменена</b>> — разработка игры отменена окончательно и бесповоротно. Этот статус означает смерть проекта.
    <li><b>Существовала до</b> — игра канула в лету. Что сейчас происходит с проектом - неизвестно, но, скорее всего, он закрыт.
</ul><!-- Описание игры Final Fantasy XVI-->

                        <h4>4. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>5. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>6. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>7. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>8. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>9. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                        <h4>10. GTA VI</h4>
                        <p>

                        </p><!-- Описание игры GTA VI-->
                    </div>
                    <div class="col-2 foncont"> ТУТ БУДЕТ ССЫЛКИ НА ИГРЫ И ПРОЧЕЕ</div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}